<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="TransactionConnection" connectionString="Data Source=10.0.100.122, 5001;Initial Catalog=GreatRewardsAPIWrapper;Persist Security Info=True;User ID=ascentis;Password=ascentis" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MMS_InstanceURL" value="https://greatrewards.uat-mms.ascentis.com.sg/gateway" />
    <add key="MMS_V_Username" value="lotus" />
    <add key="MMS_V_Password" value="password123" />
    <add key="MMS_M_Username" value="70000001" />
    <add key="MMS_M_Password" value="password123" />
    <add key="MMS_AscPosID" value="App" />
    <add key="MMS_Src" value="mobile-android or mobile-ios" />
    <add key="MMS_AppName" value="GreatRewards" />
    <add key="Client_Secret" value="VJD4zFiTJ6OHm6XVEu2P" />
    <add key="ENETS_KeyID" value="a63c094d-cb5f-4c79-a3a1-68322fcaffe7" />
    <add key="ENETS_Secret" value="82950ca1-75ec-41b0-b2e7-e8871b36721d" />
    <add key="ENETS_UMID" value="UMID_877767000" />
    <add key="ENETS_Domain" value="https://uat2.enets.sg" />
    <add key="ENETS_ReturnURL" value="https://greatrewards-uat.ascentis.com.sg/" />
    <add key="ENETS_NotifyURL" value="https://greatrewards-uat.ascentis.com.sg/Endpoint" />
    <add key="ENETS_Currency" value="SGD" />
    <add key="ENETS_TimeZone" value="+8:00" />
    <add key="ENETS_PaymentMode" value="CC" />
    <add key="ENETS_Environment" value="UAT" />
    <add key="CarPark_EndPointPrefix" value="http://27.54.43.37/" />
    <add key="CarPark_EndPointPrefix_TM" value="http://118.201.222.92/" />
    <add key="CarPark_EndPointPrefix_GW" value="http://122.11.224.79/" />
     <add key="CarPark_Key" value="kihWHTcSzH" />
    <add key="CRM_TokenURL" value="https://uatcrm.ascentis.com.sg/APIsWrapperIdentity/connect/token" />
    <add key="CRM_InstanceURL" value="https://uatcrm.ascentis.com.sg/APIsWrapperGateway/apiv1" />
    <add key="CRM_GrantType" value="client_credentials" />
    <add key="CRM_ClientID" value="GreatRewards_MOBILE-Lotus\testuser" />
    <add key="CRM_ClientSecret" value="testpassword" />
    <add key="CRM_Scope" value="crmapi" />
    <add key="CMS_InstanceURL" value="https://greatrewards.uat-cxcms.ascentis.com.sg/" />
    <add key="CMS_ClientID" value="4h5h20a6rghvj3ja1a7gy2mvdw" />
    <add key="CMS_ClientSecret" value="NDQCBNuxTg97tSn8" />
    <add key="CMS_GrantType" value="client_credentials" />
    <add key="SoapAction" value="https://MatrixAPIs/JSONCommand2" />
	<add key="Jeripay_Url" value="https://gwc.jeripay.com/" />
	<add key="Jeripay_UserName" value="Ascentis" />
	<add key="Jeripay_Password" value="ascentis" />
	<add key="Jeripay_Partner" value="Ascentis" />
	<add key="CRM_Enquiry_Code" value="MOBILE-Lotus" />
	<add key="CRM_Outlet_Code" value="App" />
	<add key="CRM_Pos_ID" value="MobileApp" />
	<add key="CRM_Cashier_ID" value="MobileApp" />
	<add key="CRM_Ignore_CCNchecking" value="false" />
	<add key="WebPageURL" value="https://grewardsuat.page.link/MobileApp" />
	  
  </appSettings>
  <system.web>
    <compilation targetFramework="4.8" debug="true" />
    <httpRuntime targetFramework="4.8" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
	  <add name="ApiURIs-ISAPI-Integrated-4.0" path="mallsmobile/api/media/*" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: 830F8709-C821-451C-8F93-688B02286422-->